* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: #23252c;
  padding: 50px;
}

.main-container {
  display: flex;
  width: 550px;
  height: 868px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 0 auto;
  color: #fff;
}

.main-container > img {
  width: 317px;
  height: 317px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.main-contents {
  background-color: #1a1b21;
  width: 317px;
  padding: 20px 35px;
  border-radius: 0px 0px 10px 10px;
}

.name-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.name-section h1 {
  font-size: 25px;
}

.name-section p:first-of-type {
  color: #f3bf99;
  font-size: 12px;
}

.name-section p:last-of-type {
  font-size: 10px;
  line-height: 150%;
  margin-top: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.description {
  margin-bottom: 20px;
}

.description h2 {
  color: #f5f5f5;
  font-size: 16px;
  line-height: 150%;
}

.description p {
  color: #dcdcdc;
  font-size: 10px;
  line-height: 150%;
}

.description h2:last-of-type {
  margin-top: 15px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

footer i {
  color: #918e9b;
}
